.navbar {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.navlink {
  text-decoration: none;
  color: #555;
  font-weight: 600;
  padding: 8px 14px;
  border-radius: 8px;
  transition: 0.3s;
}

.navlink:hover {
  background-color: #4f8cff;
  color: white;
}
